/* Импорт шрифта */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Braah+One&family=Konkhmer+Sleokchher&family=Ramabhadra&display=swap');

body {
    background: radial-gradient(circle at center, rgb(40, 40, 36), black);
   
    font-family: "Konkhmer Sleokchher", system-ui;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    touch-action: none;
}

html, body {
    overflow: hidden;
}

.balance-image-container {
    display: inline-block;
    vertical-align: middle;
  }

.balance-image {
    width: 50px;
    height: auto;
  }

.centered-container {
    text-align: center;
    touch-action: none;
}

.centered-image {
    display: inline-block;
    margin-bottom: 0px;
    touch-action: none;
}

.centered-image img {
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
    transition: transform 0.2s ease;
    touch-action: none;
}

@media (max-width: 768px) {
    .centered-image img {
        margin-top: 10px; 
        max-width: 90%;
        max-height: auto;
        touch-action: none;
    }
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: blue;
    text-decoration: none;
    overflow: hidden;
}

.button-text {
    color: white;
    font-weight: bold;
}

.shake-image {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.progress-bar-container {
    position: fixed;
    right: 0;
    left: 65px;
    bottom: 20px;
    width: 65%;
    height: 20px;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
}

.progress-bar {
    height: 100%;
    width: 100%;
    background-color: #0f0;
    border-radius: 10px 0 0 10px;
    animation: progress-animation 10s linear;
    box-shadow: 0 0 15px #0f0, 0 0 15px #0f0 inset;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@media screen and (max-width: 480px) {
    .progress-bar-container {
        height: 10px;
        border-radius: 5px;
        bottom: -20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .progress-bar-container {
        height: 15px;
        border-radius: 7px;
        bottom: 15px;
    }
}

@media screen and (min-width: 769px) {
    .progress-bar-container {
        height: 20px;
        border-radius: 10px;
        bottom: 20px;
    }
}

@keyframes progress-animation {
    0% { width: 100%; }
    100% { width: 0; }
}

.hidden {
    display: none;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.menu-button {
  padding: 30px 45px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Добавлено значение justify-content */
  flex-shrink: 0;
}


.menu-button {
    position: relative;
}

.menu-label {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .menu-label {
        font-size: 0.6em;
    }
}
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.menu-button {
  padding: 30px 45px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.menu-label {
position: absolute;
font-family: "Montserrat", sans-serif;
bottom: 15px;
left: 50%;
transform: translateX(-50%);
font-size: 0.8em;
white-space: nowrap;
color: hsla(0, 0%, 100%, 0.367);
}

/* Стили для разделителей */
.menu-button:not(:last-child)::after {
    content: '';
    height: 50%;
    width: 1px;
    background-color: #ffffff0e;
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
}

.menu-button:not(:last-child) {
    border-right: 2px solid transparent;
}

.menu-button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu-button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.balance-container {
    display: inline-block; 
    vertical-align: middle; 
    font-size: 2rem; 
    margin-left: 0px; 
    padding-right: 10px;
    color: #ffffffea; 
  }
  
  .balance-container {
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 480px) {
    .balance-image {
      width: 50px; 
      padding-top: 7px;
      padding-right: 10px;
    }
    .balance-container {
      font-size: 2rem; 
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .balance-image {
      width: 40px; 
    }
    .balance-container {
      font-size: 1.75rem; 
    }
  }
  
  @media screen and (min-width: 769px) {
    .balance-image {
      width: 50px; 
    }
    .balance-container {
      font-size: 2rem; 
    }
  }

.balance-container p {
    margin: -15px; 
}

.balance-wrapper {
    text-align: center; 
    padding: 20px; 
    position: absolute; 
    top: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
  }

@keyframes squeeze {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05, 0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .squeeze-animation {
    animation: squeeze 0.5s ease;
  }

  #waitMessage {
    position: fixed; 
    font-family: Arial, Helvetica, sans-serif;
    top: 30px;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px; 
    color: hwb(0 100% 0% / 0.118); 
    z-index: 1000; 
    display: none; 
}

.tap-image {
  opacity: 0.5; /* Делаем изображения прозрачными */
  width: 70px; /* Установите нужные вам размеры изображений */
  height: auto; /* Автоматический подбор высоты */
  position: absolute;
  z-index: 9999; /* Устанавливаем высокий z-index, чтобы изображения были поверх других элементов */
}

@keyframes flyUp {
  0% { opacity: 0.5; transform: translateY(0) rotate(0deg); }
  100% { opacity: 0; transform: translateY(-100px) rotate(360deg); }
}

